/* =========================
   FONDO
========================= */

body{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    background: linear-gradient(135deg,#f4f7f6,#dcefe5);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* =========================
   TARJETA
========================= */

.contenedor{
    width:420px;
    background:#fff;
    padding:35px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.12);
    text-align:center;
}

/* =========================
   TITULO
========================= */

h2{
    margin-bottom:25px;
    color:#1a4f96;
    font-size:28px;
}

/* =========================
   FORMULARIO
========================= */

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input{
    padding:14px;
    border:1px solid #d6d6d6;
    border-radius:10px;
    font-size:15px;
    outline:none;
    transition:.3s;
}

input:focus{
    border-color:#1a4f96;
    box-shadow:0 0 8px rgba(30,107,66,.25);
}

/* =========================
   BOTON
========================= */

button{
    background:#1a4f96;
    color:white;
    border:none;
    padding:14px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

button:hover{
    background:#1a4f96;
    transform:translateY(-2px);
}

/* =========================
   MENSAJES
========================= */

.success{
    margin-top:15px;
    background:#d4edda;
    color:#1a4f96;
    padding:12px;
    border-radius:8px;
}

.error{
    margin-top:15px;
    background:#f8d7da;
    color:#721c24;
    padding:12px;
    border-radius:8px;
}

/* =========================
   LINK
========================= */

.volver{
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
    color:#1a4f96;
    font-weight:600;
}

.volver:hover{
    text-decoration:underline;
}