body{

    margin:0;

    font-family:'Poppins', sans-serif;

    background:#eef4ff;
}

.contenedor{

    width:90%;

    max-width:900px;

    margin:40px auto;

    background:white;

    padding:30px;

    border-radius:25px;

    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

h1{

    color:#163d7a;
}

form{

    display:flex;

    flex-direction:column;

    gap:15px;
}

input,
select,
button{

    padding:15px;

    border-radius:12px;

    border:1px solid #dbe4ff;

    font-size:15px;
}

button{

    background:#2563eb;

    color:white;

    border:none;

    cursor:pointer;

    font-weight:600;
}

button:hover{

    background:#1d4ed8;
}

table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;
}

th,
td{

    padding:15px;

    border-bottom:1px solid #e5e7eb;

    text-align:center;
}

a{

    text-decoration:none;

    color:#2563eb;

    font-weight:600;
}